

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    text-align: center;
}

div#caixa {
    margin-top: 150px;
    align-items: center;
    text-align: center;
}

/* Botões */

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {background-color: #4CAF50;} /* Green */
  .button2 {background-color: #008CBA;} /* Blue */


/* caixa de texto */

textarea#message-input{
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize:none; 
}

textarea#message-output{
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize:none; 
}

/* seletor */

select#code-decode{ 
    height: 48px;
    font-size: 20px;
    padding-bottom: 3px;
    margin-right: 50px;
}


/* botões [alternativa] */

input[name="radiogroup1"] {
  
    display: none;
}
input[name="radiogroup1"]+label {
    /* style passive state as you like */
    padding: 5px 10px;
    margin: 0px 10px;
    background-color: #afafaf;
    border: 5px outset lightgrey;
}

input[name="radiogroup1"]:checked+label {
/* style checked state as you like */
border: 5px inset rgb(0, 0, 0);
}


